body{
    margin: 0;
    font-family: sans-serif;
}
.main-container{
    font-weight: 300;
    display: flex;
    flex-direction: column;
}
.tooltip {
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid transparent;
    color: #A2A0A1;
    margin: 0 0 8px 8px;
    height: 50px;
    font-size: 14px;
  }
  .tooltip > p {
    margin: 0;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    color: #A2A0A1;
    text-align: center;
    padding: 8px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }  
.navbar{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: flex-end   ;
    margin-top: 16px;
}
.logo{
    width:200px;
    height: 70px;
}

.navbar-texts{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-texts>li:not(:last-child):after{
    content: "|";
    color: #e6e6e6;
    height: 20px;
    margin: 0 8px 0 8px;
}
.navbar-texts>li>a{
    text-decoration: none;
    color: #ACABAB;
    margin: 8px;
    font-size: 14px;
}
.sections-outline{
    padding: 2px 0 2px 0;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
.sections{
    background-color:#d9d7d8 ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sections-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 1340px;
    margin: 0;
    padding: 0;
}
.sections-in > li:not(:last-child){
    align-self: center;
    border-right: 1px solid #e6e4e5;
    height: 30px;
    display: flex;
    align-items: center;
}
.header-checkout-container{
    display: flex;
    align-items: center;
}
.sections-in > li >a{
    color:#393738;
    align-self: center;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    padding-right: 48px;
}

.sections-in > li:last-child:after {
    content: none;
}
.cart-icon-anchor-container{
    display: flex;
    align-items: center;
}
.cart-icon{
    margin-left: 8px;
    width: 18px;
    height: 18px;
}
.checkout-span{
    color: #4f4e5c;
}
.sections-part{
    width: 80%;
}
.section-two-input{
    font-size: 14px;
}
.go-button{
    font-size: 14px;
}
.bridal-image{
    width: 80px;
    height: 50px;
}
.search-container{
    display: flex;
    align-items: center;
    margin-left: 32px;
}
.go-button{
    margin-left: 10px;
    border-radius: 5px;
    border-color: #afafaf;
}
.table-container{
    border: 10px solid white;
    width: 1340px;
    height: 500px;
    align-self: center;
    display: flex;
    background-color: white;
}
.dress-your-table-anchor-container{
    margin-left: 8px;
}
.dress-your-table-anchor{
    color:#A2A0A1;
    margin-top: 16px;
    font-size: 14px;
}
.dress-your-table-unlist{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}
.table-image{
    height: 100%;
    margin-right: 8px;
    width: 77%;
}
.dress-your-table-outline{
    background-color:#363533 ;
    padding: 16px;
    height: 470px;
    width: 23%;
}
.dress-your-table{
    background-image: radial-gradient(#434142,#363533);
    border: 1px solid #535250;
    padding: 16px;
    height: 440px;
    color: white;
}
.dress-your-table > h2 {
    font-size: 30px;
    font-weight: 300;
    color: #e3e1e2;
    margin-left: 8px;
}
.dress-your-table-unlist{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.dress-your-table-unlist>li{
    font-size: 16px;
    font-weight: 100;
    margin-left: 8px;
    color: #DBD9DA;
    border-bottom: 1px solid #525051;
    padding: 8px 0 8px 0;
}
.dress-your-table-unlist>li:last-child{
    border-bottom-style:none ;
}
.what-we-offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1340px;
}
.third-section-links{
    text-decoration: none;
    color: #566D78;
    font-size: 16px;
}
.what-we-offer-container{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dfdfdf;
}
.bridal-registry-card{
    display: flex;
    align-items: center;
    margin-right:48px ;
}
.what-we-offer-unlist{
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
}
.what-we-offer-unlist > li > a{
    text-decoration: none;
    color: #566D78;
    font-size: 16px;
}
.what-we-offer-unlist > li::after{
    content: "";
    height: 5px;
    width: 5px;
    border:1px solid #cccccc;
    align-self: center;
    border-radius: 100%;
    display: inline-block;
    margin: 0 8px 0 8px;
}
.what-we-offer-unlist > li:last-child:after{
    content: none;
}
.collection-offers-container{
    width: 1340px;
    height: 230px;
    border-width: 10px;
    border-style: solid;
    align-self: center;
    display: flex;
    justify-content: space-between;
    background-color: white;

}
.collection-offers-container > hr{
    border-left:1px solid #dfdfdf;
    height:80%;
    align-self: center;
    margin: 0 8px 0 8px;
}
.collection-offers-container > div > h2 {
    font-size: 20px;
    color: #555555;
    font-weight: 300;
    margin-bottom: 0px;
}
.collection-offers-container > div > p {
    color: #adadad;
    font-size: 14px;
    margin-top: 8px;
}
.collection-offers-container > div > a {
    color: #636986;
    text-decoration: none;
    align-self: flex-end;
    font-size: 14px;
}
.background{
    background-image: linear-gradient(to bottom, white, #2F2E2C);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stemware-container{
    background-image: url("./mikasa/promo_glass.png");
    height: 182px;
    padding: 24px;
    width: 33%;
    background-repeat: no-repeat;
    background-size:80% 90%;
    background-position: left bottom;
    display: flex;
    flex-direction: column;
}
.home-asset-container{
    background-image: url("./mikasa/promo_plates.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 74%;
    height: 182px;
    padding: 24px;
    width: 33%;
    display: flex;
    flex-direction: column;
}
.clearance-sale-container{
    background-image: url("./mikasa/promo_album.png");
    background-size: 60% 90%;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 182px;
    padding: 24px;
    width: 33%;
}
.clearance-sale-container > h2 , .clearance-sale-container > p {
    width: 50%;
}
.vertical-line{
    height: 180px;
    width: 1px;
}
.contact-container > p {
    font-size: 14px;
    margin-bottom: 0;
}
.contact-container-anchors{
    margin-top: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}
.contact-container-anchors > li >a , .contact-container > p > a {
    color: #ACABAB;
    font-size: 14px;
    margin-bottom: 0;
}
.contact-container-anchors >:not(:last-child):after {
    content: "|";
    color: #ACABAB;
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;
}
.contact-container{
    display: flex;
    flex-direction: column;
    color: #ACABAB;
    font-size: 12px;
    align-self: center;
    margin: 0;
}
.signup-container{
    display: flex;
    flex-direction: column;
    color: #ACABAB;
    font-size: 12px;
}
.signup-container-p{
    font-size: 14px;
}
.sign-up-button{
    border-radius: 4px;
    margin-left: 4px;
    padding: 4px;
}
.contact-signup-container{
    display: flex;
    justify-content: space-between;
    width: 1360px;
    align-self: center;
    margin-bottom: 56px;
}
.signup-container-email-input{
    width: 250px;
    font-size: 14px;
}
.sign-up-button{
    font-size: 12px;
}