.main-container{
    font-family: Sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;

}
.header{
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-top: 20px;
}
.logo{
    width:200px;
    height: 70px;
}
.header-links{
    text-decoration: none;
    color: #ACABAB;
    margin: 10px;
    font-size: 14px;
}
.header-texts{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-hr{
    height: 20px;
    align-self: center;
    border-left: 1px solid #E6E6E6;
    border-bottom: transparent;
    border-top: transparent;
    margin-left: 10px;
    margin-right: 10px;
}
.sections{
    background-color:#D9D7D8 ;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sections-in{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 76%;
}
.cart-icon{
    margin-left: 10px;width: 14px;
}
.checkout-span{
    color: #4f4e5c;
}
.sections-part{
    width: 80%;
}
.section-three-hr{
    color: #494646;
    border-width: 2px;
    margin: 2px;
    border-top:transparent;
    border-right: transparent;
    border-left: transparent;
}
.section-two-hr{
    color: #494646;
    border-width: 2px;
    margin: 2px;
    border-top:transparent;
    border-right: transparent;
    border-left: transparent;
}
.section-two-input{
    font-size: 14px;
}
.section-two-a{
    color:#393738;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.go-button{
    font-size: 14px;
}
.bridal-image{
    width: 80px;
    height: 50px;
}
.section-two-hr-v{
    height: 20px;
    align-self: center;
    border-left: 1px solid #E6E6E6;
    border-bottom: transparent;
    border-top: transparent;
    margin-left: 10px;
    margin-right: 10px;

}

.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.go-button{
    margin-left: 10px;
    border-radius: 5px;
    border-color: #afafaf;
}
.main-body{
    border-width: 10px;
    border-style: solid;
    border-color: white;
    width: 76%;
    height: 500px;
    align-self: center;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.main-body-a{
    color:#A2A0A1;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 14px;
}
.unlist{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.main-body-hr{
    display: block;
    color: #535250;
    border-top: 1px;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
}
.main-image{
    height: 100%;
    margin-right: 10px;
    width: 80%;
}
.dress-your-table-outline{
    background-color:#363533 ;
    padding: 15px;
    height: 470px;
}
.dress-your-table{
    background-image: radial-gradient(#434142,#363533);
    border-width: 1px;
    border-style: solid;
    border-color: #535250;
    padding: 15px;
    height: 440px;
    color: white;
}
.unlist{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.unlist:last-child{
    margin-bottom: 20px;
}
.dress-your-table-p{
    color:#A2A0A1;margin-left: 10px;font-size: 14px;
}
.dress-your-table-h2{
    font-size: 30px;
    font-weight: 300;
    color: #e3e1e2;
    margin-left: 10px;
}
.list-item{
    font-size: 16px;
    font-weight: 100;
    margin-left: 10px;
    color: #DBD9DA;
}
.third-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 76%;
    align-self: center;

}
.third-section-links{
    text-decoration: none;
    color: #566D78;
    font-size: 16px;
}
.bridal-image-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:55px ;
}
.third-section-part-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    margin-left: 0;
}
.dot {
    height: 5px;
    width: 5px;
    border-color: #cccccc;
    align-self: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
.section-five{
    width: 76%;
    height: 230px;
    border-width: 10px;
    border-style: solid;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;

}
.section-five-hr{
    border-left:1px;
    height:80%;
    border-style: solid;
    border-color: #dfdfdf;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;

}
.section-five-p{
    color: #adadad;
    font-size: 14px;
    margin-top: 5px;
}
.background{
    background-image: linear-gradient(to bottom, white, #2F2E2C);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-five-h2{
    font-size: 20px;
    color: #555555;
    font-weight: 300;
    margin-bottom: 0px;
}
.section-five-card1{
    background-image: url("./mikasa/promo_glass.png");
    background-size: cover;
    height: 100%;
    padding: 20px;
    width: 33%;
    background-repeat: no-repeat;
    background-size:80% 50%;
  background-position: 0% 70%;
    display: flex;
    flex-direction: column;
}
.section-five-card2{
    background-image: url("./mikasa/promo_plates.png");
    background-repeat: no-repeat;
  background-size:80% 50%;
  background-position: 50% 70%;
    height: 100%;
    padding: 20px;
    width: 33%;
    display: flex;
    flex-direction: column;
}
.section-five-card3{
    background-image: url("./mikasa/promo_album.png");
    background-size: 50% 70%;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    padding: 20px;
    width: 33%;
}

.section-five-a{
    color: #636986;
    text-decoration: none;
    align-self: flex-end;
    font-size: 14px;
    
}
.vertical-line{
    height: 180px;
    width: 1px;
}
.section-six-as{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-six-header{
    height: 16px;
    align-self: center;
    border-left: 1px solid #ACABAB;
    border-right: transparent;
    border-bottom: transparent;
    border-top: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.section-six-a{
    color: #ACABAB;
    font-size: 14px;
    margin-bottom: 0;
}
.section-six-p{
    font-size: 14px;
    margin-bottom: 0;
}
.section-six{
    display: flex;
    flex-direction: column;
    color: #ACABAB;
    font-size: 12px;
    align-self: center;
    margin: 0;
}
.section-seven{
    display: flex;
    flex-direction: column;
    color: #ACABAB;
    font-size: 12px;
}
.section-seven-p{
    font-size: 14px;
}
.sign-up-button{
    border-radius: 5px;
    margin-left: 5px;
    padding: 3px;
}
.section-combainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 77%;
    align-self: center;
    margin-bottom: 60px;
}
.section-seven-email-input{
padding: 3px;
width: 250px;
    font-size: 14px;
}
.sign-up-button{
    font-size: 12px;
}
@media (max-width:1000px){
    .main-body{
        flex-direction: column;
        width: 70%;
        height: 600px;
    }
    .main-image{
        height: 35%;
        margin-right: 10px;
        width: 100%;
    }
    .section-five{
        flex-direction: column;
        height: auto;
        width: 70%;
    }
    .section-five-hr{
        width: 80%;
        height: 1px;
        background-color: #dfdfdf;
        margin: 0;
    }
    .section-five-card1{
        width: 90%;
        height: 200px;
        margin: 0;
    }
    .section-five-card2{
        width: 90%;
        height: 200px;
    }
    .section-five-card3{
        width: 90%;
        height: 200px;
    }
    .dress-your-table-h2{
        font-size: 24px;
    }
    .dress-your-table{
        height: 330px;
    }
    .dress-your-table-p{
        font-size: 14px;
    }
    .dress-your-table-outline{
        height: 360px;
    }
    .main-body-hr{
        display: block;
        margin: 0;
    }
    .unlist{
        flex-direction: column;
    }
    .list-item{
        display: inline;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .section-combainer{
        flex-direction: column;
    }
    .section-six{
        order: 2;
        text-align: center;
    }
    .section-six-p{
        margin: 3px;
    }
    .section-seven{
        text-align: center;
    }
    .section-six-as{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .sections{
    height:80px;
    }
    .sections-in{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
        align-items: space-between;
        width: 79%;
    }
    .header-links{
        align-self: center;
    }
    .header-texts{
        align-self: center;
        margin-top: 10px;
    }
    .header{
        flex-direction: column;
    }
    .section-two-a{
        margin: 0;
        min-width: 100px;
        text-decoration: underline;
    }
    .section-two-hr-v{
        display: none;
    }
      .search-container{
        align-self: center;
        justify-content: space-between;
      }
      .section-two-input{
        width: 120px;
      }
      .third-section{
        display: none;
      }
      .section-three-hr{
        display: none;
      }
    
}